<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kensi.infosys1d">F

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:screenOrientation="portrait">
        <activity android:name=".Login.LoginMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QRreader.QRreaderMain"/>
        <activity android:name=".Registration.RegistrationMain" />
        <activity android:name=".Checkout.CheckoutMain"
            android:parentActivityName = ".Menu.MenuMain"/>
        <activity android:name=".Checkout.Payment.PaymentLogin"
            android:parentActivityName = ".Checkout.CheckoutMain"
            android:label = "@string/paymentlogin_activity_name"/>
        <activity android:name=".Vendor.VendorMain" />
        <activity android:name=".Vendor.VendorAddForm" />
        <activity android:name=".Vendor.VendorUpdateForm" />
        <activity android:name=".Menu.MenuMain" />
        <activity android:name=".Vendor.VendorUploadImage" />
        <activity
            android:name=".Menu.MenuPop"
            android:theme="@style/AppTheme.CustomTheme" />

        <service
            android:name=".PushNotificationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".PaymentConfirmationMain"
            android:label="Thank You!"
            ></activity>
        <activity android:name=".Vendor.VendorJobs" />
    </application>
</manifest>